body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card_container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.cart_logo {
  color: white;
  text-align: center;
  width: 90% !important;
}

.cart_card {
  position: relative;
  width: 100%;
  border: 1px solid #333;
  height: 130px;
  max-height: 130px;
  overflow-y: hidden;
}

.cart_card img {
  height: 100%;
}

.info {
  color: white;
  margin-left: 100px;;
  margin-top: -125px;
}

#cart_title {
  font-weight: bold;
  font-size: 16px;
}

.info h2 {
  font-size: 14px;
}

.product_card {
  border: 1px solid #ccc;
  width: 24%;
  margin: 1%;
  text-align: center;
  z-index: 5 !important;
}

.product_card h3 {
  font-weight: bold;
  font-size: 18px;
}

.product_card h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.sizes .button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #aaa;
  color: white;
  border: none;
  margin: 5px 2px 15px 2px;
}

.addtocart {
  height: 50px;
  width: 180px;
  text-align: center;
  background-color: #555;
  color: white;
  border: none;
  font-size: 20px;
  margin: 5px 2px 15px 2px;
}

.sizes .button:hover {
  background-color: #777;
  color: white;
}

.addtocart:hover {
  background-color: #222;
  color: white;
  cursor: pointer;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px !important;
  color: white !important;
  font-weight: lighter;
  position: relative;
  top: 10px;
  z-index: 40 !important;
  width: 410px;
  margin: auto;
  z-index: 20 !important;
}

#shopping_cart_icon {
  width: 40px;
  height: 40px;
  margin: 20px 10px;
}

.cart_button {
  float: right;
  width: 80px;
  height: 80px;
  margin-top: -60px;
  background-color: #354975 !important;
  color: white;
  z-index: 50;
  cursor: pointer;
  border: none;
}

.cart_button:hover {
  background-color: #1d2a47 !important;
}

.navbar {
  background-color: #354975 !important;
  width: 100%;
  height: 80px;
  position: fixed !important;
  top: 0;
  z-index: 50px;
  display: inline !important;
}

#cart-tab {
  background-color: black !important;
  height: 100%;
  position: fixed;
  float: right;
  z-index: 60 !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.closebtn {
  cursor: pointer;
  z-index: 60 !important;
  width: 80px;
  height: 80px;
  border: none;
  background-color: black;
  color: white;
  font-size: 50px;
}

.closebtn:hover {
  color: #999;
}

.deletebtn {
  float: right;
  color: white;
  background-color: black;
  border: none;
  font-size: 30px;
  cursor:pointer;
}

.deletebtn:hover {
  color: #999;
}

.selected-size {
  background-color: black !important;
  color: white !important;
}

.qtybtn {
  color: white;
  background-color: #444;
  border: none;
  font-size: 15px;
  cursor:pointer;
  margin-top: -20px;
  position: relative;
  left: 80px;
  bottom: 22px;
  text-align: center;
  margin: 1px;
}

.inactive {
  background-color: #111;
}